APP_NAME=SwaedUAE
APP_ENV=production
APP_KEY=

APP_DEBUG=false
APP_URL=https://swaeduae.ae

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=swaeduae
DB_USERNAME=vminingc_admin
DB_PASSWORD=234026.Hg@
